.body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;

}

.board{
    background-color:#ffedd8 ;
    width: 90%;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border-color: #cea086;
    border-style: solid;
    border-width: 6px;
    padding: 4%;
}

.card{
    margin: 10px;
    position: absolute;
    color: white;
    border: none;
    text-align: center;
    font-family:Garamond;
}

